.bg-black{
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.header{
  a,.nav-link,.hover-primary{
    transition: all ease .5s;
  }

  a.text-light:hover, a.text-light:focus,
  .navbar-dark .nav-link:hover,.navbar-dark .nav-link:focus,
  .hover-primary:hover{
    color: $primary-100 !important;
  }

  .btn-outline-primary{
    border-width: 2px;
    background-color: rgba($primary, $alpha: 0.2);
    &:hover{
      background-color: rgba($primary, $alpha: 1.0);
    }
  }
  .dropdown-menu{
    width: 350px;
    @media (max-width: 400px){
      width: 300px;
    }
    img{
    max-width: 80px;
    }
  }
}
