.font-logo{
  font-family: 'Pacifico', serif;
}

.font-en-title{
  font-family: 'DM Serif Display', serif;
}

.font-tw-title{
  font-family: 'Noto Serif TC', serif;
}

body{
  font-family: 'Noto Sans TC', serif;
}

.vertical{
  writing-mode: vertical-rl;
}